<!DOCTYPE html>
<html>
  <style>
    form{ text-align: center;}
    body{text-align: center;
    background-color: rgb(51, 153, 110);
  text-decoration-color: aqua;
backdrop-filter: 100;}
  </style>
    <body>
        <h2>Stroke Form</h2>
        <h1> If Yes Put 1 else 0 </h1>


       <b> <form action="/submit" method="post"></b>
          <label for="Diabetes"> Diabetes: </label> <br>
          <input type="text" id="diab" name="diab" value=0><br>  
          

          <label for="Heart Disease"> Heart Disease: </label> <br>
        <input type="text" id="heartd" name="heartd" value="0"><br>
        
        <label for="Alcohol"> Alcohol: </label> <br>
        <input type="text" id="alcho" name="alcho" value="0"><br>
        <label for "S<oking"> Smoking:</label><br>
        <input type="text" name="smoking" id="smoking" value="0" ><br><br>
        <input type="submit" value="submit">
        
        
        </form>
    </body>
</html>