<!DOCTYPE html>

<style>

body{background-color: aqua;text-align: center;
background-size: cover;backdrop-filter: 100%;}

form{text-align: center; width: 100%; font-size: 15px; font-style: oblique;width: 100%;}
input{text-align: center;font-size: 10;}
select{text-align: center;}
label{font-size: 20px;
display: inline-block;
width: 150px;
text-align: center;
}

input[type='SUBMIT']{background-color: red;font-size: 15;width: 30%;}



</style>
<html>
<head><h1 style="color: brown;">  Result Checker </h1></head><br><br>

<body>

<form action="submit" method="POST"> 

<label for = 'math'>MATHS:</label>
<input type="text" name="math" id="math" value="0"><br><br>
<label for = 'bio'>BIOLOGY:</label>
<input type="txt" name="bio" id="bio" value="0"><br><br>
<label for = 'geo'>GEOGRAPHY:</label>
<input type="text" name="geo" id="geo" value="0"><br><br>
<label for = 'c'>C:</label>
<input type="text" name="c" id="c" value="0"><br><br>
<label for = 'others'>OTHERS:</label>
<input type="text" name="others" id="others" value="0"><br><br><br>

<input type="submit" value="SUBMIT">

</form>



</body>






</html>